.appbar-bottom {
  display: flex;
  align-items: center;
  background-color: #006387;
  width: 100%;
  margin: 0 auto;
  
  position: sticky;
  top: 0;
  z-index: 1;
  justify-content: space-between;
  margin-top: 0;
}


.searchBox {
  display: flex;
  align-items: center;
  flex: 1;
  border-radius: 4px;
  padding: 5px;
  transition: all 0.3s ease;
  
}

.searchBox:hover {
  border-color: #999;
}


.textBox {
  border: 1px solid #ccc;  
  border-radius: 4px; 
  outline: none;
  flex: 1;
  padding: 8px 10px; 
  font-size: 12px;
}

.searchButton {
  background-color: #ccc;
  border-radius: 4px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #999;
}

.viewToggle,
.sortIcon,
.filterIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #000000;
}

.sortIcon svg,
.filterIcon svg {
  transition: all 0.3s ease;
}

.sortText,
.filterText {
  font-size: 14px;
  margin-right: 5px;
  transition: all 0.3s ease;
}

.sortIcon.active svg {
  transform: rotate(180deg);
}

.sortIcon.active,
.filterIcon.active,
.viewToggle:hover,
.sortIcon:hover,
.filterIcon:hover {
  color: #ffffff;
}

/* Özel animasyonlar */
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Responsive düzenlemeler */
@media (max-width: 768px) {
  .appbar-bottom {
    flex-wrap: wrap;
    padding: 10px 5px;
  }

  .searchBox {
    margin-bottom: 10px;
  }

  .viewToggle,
  .sortIcon,
  .filterIcon {
    margin: 5px;
  }
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  animation: toastAnimation 0.5s ease-in-out;
}

.toast-message {
  flex-grow: 1;
  margin-right: 10px;
}

.toast-close {
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

@keyframes toastAnimation {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
