.gridView {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 sütunlu bir grid yapısı */
    grid-gap: 20px; /* Sütunlar arası boşluk */
    justify-items: center; /* Sütun içindeki öğeleri yatayda hizala */
    align-items: center; /* Sütun içindeki öğeleri dikeyde hizala */
    margin: 0 auto; /* Yatayda merkezle */
    padding: 20px;
    width: 100%;
    max-width: 1200px; /* Maksimum genişlik */
    height: 100%;
    color: #000000;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Geçiş efekti */
  }
  .gridBox:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
  
  .gridBox {
    position: relative;
    width: 300px;
    height: 300px;
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Geçiş efekti */
    
  }
  


  .gridFlag {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20px;


  }
  
  .gridFlag img {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease;
}

  .gridFlag:hover img {
    transform: scale(1.1);
  }
  
  .gridText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;

    text-decoration: none;
    color: #000000;
  }
  
  .gridText strong {
    font-weight: bold;
    color: #000000;
  }
  .gridtitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
  }

  .gridInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .basketButton {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    padding: 8px 30px;
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  .basketButton .icon {
    font-size: 24px;
    color: black; /* Increase the value to make the icon larger */
  }
  .basketButton:hover {
    background-color: #fcd702;
  }


  .line {
    width: 80%;
    height: 2px;
    background-color: #ccc;
    margin: 10px auto;
  }
 
  

  
  
  
  